#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  width: auto;
}

.read-the-docs {
  color: #888;
}

.force-bold {
  font-weight: bold !important;
}

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}